@{
    ViewData["Title"] = "Home Page";
}

<p>
    Hostname:  @ViewData["Hostname"];
    Envname:  @ViewData["Envname"];
</p>
<p>
    @string.Format("{0:yyyy-MM-dd HH:mm:ss}", DateTime.Now);
</p>
    


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
